@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Departments</h2>
        <p>
            Departments List.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Departments")">click &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Employees</h2>
        <p>
            Employees List.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Employees")">click &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Steps</h2>
        <p>
            Steps List.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Steps")">click &raquo;</a></p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Employees</h2>
        <p>
            Employees Create2.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Create2", "Employees")">click &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Steps</h2>
        <p>
            Steps Create2.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Create2", "Steps")">click &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Employees</h2>
        <p>
            Employees Paging.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Paging", "Employees")">click &raquo;</a></p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Employees</h2>
        <p>
            複数の社員を選ぶサンプルページ
        </p>
        <p><a class="btn btn-default" href="@Url.Action("ListEmp", "Employees")">Go Site &raquo;</a></p>
    </div>    
</div>