@model ReportWebApp01.Models.Steps

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Steps</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Employee.Nickname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.Nickname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Value)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { EmployeeID = Model.EmployeeID, ActDate = Model.ActDate }) |
    @Html.ActionLink("Back to List", "Index")
</p>
