@model ReportWebApp01.Models.Employee

@{
    ViewBag.Title = "Create2";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/i18n/jquery.ui.datepicker-ja.min.js"></script>
<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/black-tie/jquery-ui.css">

<h2>Create2</h2>

<!-- 部署検索ダイアログ start -->
<div id="dialog">
    <table class="table">
        <tr>
            <th></th>
            <th>
                部署名
            </th>
        </tr>

        @foreach (var item in ViewData["departments"] as IEnumerable<ReportWebApp01.Models.Department>)
        {
            <tr>
                <td>
                    <button type="button" onclick="selectDepartment('@item.Id', '@item.Department_name')" class="btn btn-primary">選択</button>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Department_name)
                </td>
            </tr>
        }
    </table>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Employee</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Nickname, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nickname, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nickname, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Birthday, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Birthday, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Birthday, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DepartmentId, "部署", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <span id="Department_name"></span>
                <button type="button" id="opener" class="btn btn-primary">部署を検索</button>
                @Html.ValidationMessageFor(model => model.DepartmentId, "", new { @class = "text-danger" })
            </div>
        </div>
        @Html.HiddenFor(model => model.DepartmentId)

        <div class="form-group">
            @Html.LabelFor(model => model.Remarks, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Remarks, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>

    </div>

}

<script type="text/javascript">

    $(function () {
        $("#Birthday").datepicker({
            changeMonth: true,
            changeYear: true,
            yearRange: "-150:+0"
        });
    });

    $("#dialog").dialog({
        autoOpen: false,
        modal: true,
        title: "部署選択ダイアログ",
        height: 400,
        width: 350,
        buttons: {
            Cancel: function () {
                $(this).dialog("close");
            }
        },
        show: {
            effect: "explode",
            duration: 500
        },
        hide: {
            effect: "explode",
            duration: 500
        }
    });

    $("#opener").click(function () {
        $("#dialog").dialog("open");
    });

    function selectDepartment(id, name) {
        document.getElementById("DepartmentId").value = id;
        document.getElementById("Department_name").textContent = name;
        $("#dialog").dialog("close");
    }

</script>